a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
ul {
    list-style: none;
}
