
li {
    list-style: square;
}
body {
    background-color: white;
    color: cadetblue;
    font: 1.2em "Fira Sans", serif;
}
#complete_todo {
        text-decoration: line-through;
    }
button {
    background-color: white;
    padding: 4px;
    /*float: right;*/
}