
li {
    list-style: square;
    display:flex;
    flex-direction:row;
}

li > * {
    padding:4px;
}
body {
    background-color: white;
    background-image: url("notepad.jpg");
    color: cadetblue;
    font: 1.2em "Fira Sans", serif;
}
#complete_todo {
        text-decoration: line-through;
    }
button {
    background-color: white;
    padding: 4px;
}

