<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hang Man</title>
    <!-- Vue CND -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
	<div id="app">
		{{word}}
	 	<span v-for="letter in secret">{{ letter.shown? letter.letter: '_' }} </span>
		<button v-for="char in alphabet" v-on:click="letter_clicked(char)">{{char}}</button>
	</div>
    <script>
        // Creates vue app containing all letter buttons
        new Vue({
        	el: '#app',
        	data: {
        		alphabet: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ',
        		word: '',
        		secret: []
        	},
        	// Function called when letter is guessed
        	methods: {
        		letter_clicked(letter) {
        			//alert(letter)
        			for (let i="0"; i<data.word.length; i++) {
        				if (letter === data.word[i])
        					{data.word.shown = true}
        			}
        		}
        	},
        	created: function() {
		        // Load words from GitHub and save in words[]
		        let url = 'https://raw.githubusercontent.com/PdxCodeGuild/class_platypus/0a62e5c4e806f830e37e130fba947b7c7415630b/Code/Angie/Python/english.txt'
		        let words = []
		        let app = this
		        axios.get(url).then(function (response) {
		            words = response.data.split('\n')
		            app.word = words[Math.floor(Math.random() * words.length)]
		            for (let i=0; i<app.word.length; i++) {
		            	app.secret.push({letter: app.word[i], shown: false})
		            }
		        })
        	}
        })
    </script>
</body>
</html>