

/* SITE COLORS*/
/*blue #1791E8*/
/*orange #FF7C0D*/
/*burnt orange #FF6747*/
/*mustard #FFB91A*/
/*light teal #4CE8D8*/

body {
    background-color: #1791E8;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

footer {
    background-color: #FF7C0D;
    color: black;
    margin: -1em;
    padding: 2em;
}

.aside_img {
    display:none;
}
.aside_wrapper {
    background-color: #FF7C0D;
    color: black;
}

.caption_styles {
    text-shadow: 2px 2px black;
}
.main_wrapper {
    background-color: #1791E8;
}

.sales_title_styles {
    margin: 1.5em -1em 1.5em -1em;
    padding: 1em 0 0 0;
    background-color: #FFB91A;
}

.box {
      /*display: flex;*/
      /*flex-direction: row;*/
    }
    .box :nth-child(1) { order: 1; }
    .box :nth-child(2) { order: 3; }
    .box :nth-child(3) { order: 5; }
    .box :nth-child(4) { order: 2; }
    .box :nth-child(5) { order: 4; }
    .box :nth-child(6) { order: 6; }




/*************************************/
/*Media Queries*/
/*************************************/

@media only screen and (min-width: 600px) {
    .dropdown {
        display:none;
    }

    .aside_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-radius: 4px;
        border: solid grey 1px;
    }
    .carousel_img {
        height: 450px;
    }

    .sales_row {
        display:flex;
        justify-content: space-between !important;
    }

}