{% extends 'socoolMediaManager/base.html' %}
{% block content %}
    <div id="main_div">
        <h1>{{user.username}}</h1>
        <hr>
        <div id="display_platforms" class="d-flex align-content-start flex-wrap">
            {% for platform in platforms %}
            <div>
                <a href="{{ platform.link }}">
                    <div class="p-2 flex-fill bd-highlight flex_column">
                        <div id="single_platform">
                            <img src="{{platform.platform_type.icon.url}}" height="100px"/><br>
                            <b><font>{{platform.username}}</font></b>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'socoolMediaManager:edit' %}" role="button">Edit Profile</a>
    </footer>
{% endblock %}