<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bibliothek/style.css' %}">

</head>
<body>

<div>
    <h2>Library</h2>
    <h3>Add a book to the Catalog</h3>
    <p>Book Title:</p>
    <form action="{% url 'bibliothek:add_book' %}" method="post">
        {% csrf_token %}
        <input type="text" name="book">
        <select name="author_id">
            {% for author in authors %}
            <option value="{{author.id}}">{{author.name}}</option>
            {% endfor %}
        </select>
        <input type="date" name="pub_date">
        <br>
        <button type="submit">save</button>
    </form>


    <p>Author(s):</p>
    <form action="{% url 'bibliothek:check_author' %}" method="post">
        {% csrf_token %}
        <input type="text" name="Author">
        <br>
        {{ name }}
        <button id="save" type="submit">save</button>
    </form>

    <h3>Search the Catalog</h3>

    <table>{% for book in books %}
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Author
            </th>
            <th>
                Published Date
            </th>
            <th>
                Book Availability
            </th>
        </tr>

        <tr>

            <td>
                {{ book.title }}
            </td>
            <td>
                {{ book.author }}
            </td>
        </tr>

        {% endfor %}
    </table>

   
    <h3>Your Account</h3>
    <ul>an input field to search for:
        <li>record of when user checked in/out books</li>
        <li>books that user currently has checked out</li>
    </ul>

</div>

</body>
</html>