<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <link rel="stylesheet" type="text/css" href="{% static 'bibliothek/style.css' %}">

</head>
<body>

<div class="container">
    <h2>Library</h2>
    <h3>Add a book to the Catalog</h3>
    <div class="row">

        <div class="col s3">
            <p>Book Title</p>
            <form action="{% url 'bibliothek:add_book' %}" method="post">
                {% csrf_token %}
                <input type="text" name="book">
        </div>
        <div class="col s3">
            <p>Author</p>

                <select class="browser-default" name="author_id">
                    {% for author in authors %}
                    <option value="{{author.id}}">{{author.name}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col s3">
            <p>Publication Date</p>
                <input type="date" name="pub_date">
        </div>
        <div class="col s12">
                <br>
                <button type="submit" class="waves-effect waves-light btn-large">save</button>

            </form>
        </div>
    </div>


        <h3>Search the Catalog</h3>

        <table>
            <tr>
                <th>
                    Book Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Published Date
                </th>
                <th>
                    Book Availability
                </th>
            </tr>

            <tr>
                {% for book in books %}
                <td>
                    {{ book.title }}
                </td>
                <td>
                    {{ book.author }}
                </td>
                <td>
                    {{ book.pub_date }}
                </td>

                <td>
                    n/a <!--{{ book.availability }}-->
                </td>
            </tr>

            {% endfor %}
        </table>


        <h3>Your Account</h3>
        <ul>an input field to search for:
            <li>record of when user checked in/out books</li>
            <li>books that user currently has checked out</li>
        </ul>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>  document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });</script>

</body>
</html>