h1 {



}

li {
    font-family: 'Source Sans Pro', sans-serif;

}

.vertical-nav {
    width: 30%;
    height: 100%;
    margin:0;
    background-image: url('paintbg.jpg');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-origin:border;
    min-height:100%;
    flex-direction: column;


}

.head {
    margin-top: 4%;
    border-radius: 85px;
    box-shadow: 2px 2px white;


}
.main-content {
    width: 70%;
    flex-direction: column;
    font-family: 'Alike', serif;
    display:flex;
    justify-content: center;
    background-color: red;
}

.flex-container {
    display: flex;

}