h1{
float: left;}

body{
background: <img src="http://s3.amazonaws.com/assets.vision.org/uploadedimages/Home/Articles/2011fall_forever-jung_1920x1080_1.jpg" alt="Carl Jung" />;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
}