
li a {
    color: black;
    font: italic 1.5em "Fira Sans", serif;
    margin-left: 43%;
}
body {
    background: white url("images/httpimage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    box-shadow: 10px 10px 5px grey;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
ul {
    list-style: none;
}