<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Demograph Home Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'demograph/style.css' %}">
</head>

<body>
<div class="container"> Say something clever...
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--<li><a href="/polls/{{ title.id }}/">{{ question.question_text }}</a></li>-->
<li><a href="{% url 'demograph:detail' title.id %}"> {{ title.question_text }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</div>


<!-- Compiled and minified JavaScript Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>