<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}" />
    </head>
    <body>
        <h1>Todo List</h1>
        <h2>Current Items:</h2>
        <div id="current">
            <form action="{% url 'todo:addItem' %}" method="post">
                Add new item to Todo list:
                <input name="new_item">
                {% csrf_token %}
                <button type="submit">Add</button>
            </form>
            <ul>
                {% for todo in uncompleted_todos %}
                <li>
                    <form method="post">
                        <span>{{todo.text}}</span>
                         {% csrf_token %}
                        <input type="hidden" name="id" value="{{todo.id}}"/><button class="completed" formaction="{% url 'todo:completeItem' %}">✅</button>
                        <button class="deleted" formaction="{% url 'todo:deleteItem' %}">❌</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <h2>Completed Items:</h2>
        <div id="completed">
            <ul>
                {% for complete in completed_todos %}
                <li>
                    {{complete}} ✔️
                </li>
                {% endfor %}
            </ul>
        </div>
        <center><a id="clear" href="{% url 'todo:clearItems' %}" type="submit">Clear Completed</a></center>
        <br>
    </body>
</html>