<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO list</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Muli" rel="stylesheet">
</head>
<body>


    <div id="main">
        <h1>{{message}}</h1>
        <form action="{% url 'todo:completeItem' %}" method="post">
            {% csrf_token %}
            <input name="text" type="text" placeholder="enter item">
            <button id="btn" type="submit">Add</button>
        </form>

        <!--<form action="{% url 'todo:completeItem' %}" method="post">-->
        <table>
        {% for todo in todos %}
            <tr>
                <td {% if todo.completed_date is not None %} style="text-decoration:line-through" {% endif %} title="{{todo.completed_date}}">
                    {{todo.text}}
                </td>
                <td>
                    <form action="{% url 'todo:completeItem' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{todo.id}}"/>
                        <button class="btn" type="submit">&#x2714;</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'todo:deleteItem' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{todo.id}}"/>
                        <button class="otherBtn" type="submit">X</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>





    </div>
</body>
</html>