#logo {
    border-radius: 10%;
}
body {
    background: white url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arapey', serif !important;
}
#main_div {
    margin: 1%;
    padding: 1%;
    border-style: ridge;
    color: white;
    background-color: rgba(0, 213, 255, 0.3);
}
.card-body {
    background-color: rgba(39, 152, 245, 0.7);
    text-align: center;
}
h1 {
    text-decoration: underline !important;
}